.containerProdavnica {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  width: 90%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.kartice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.categories h2 {
  color: #ef5a35;
  margin-bottom: -0.5rem;
}

.categories ul {
  padding-left: 1.5rem;
}

.categories li {
  list-style: none;
}

.categories li a {
  color: #2d2d2d;
}

.categories li a:hover {
  color: #ef5a35;
}

.categories li .dark {
  color: white;
}
