* {
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  display: flex;
  width: 90%;
  /* opd sirina, vrv ce morat da se popravlja */
}

.logo {
  max-height: 55px;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
  position: relative;
}

.search-form input {
  color: #9ca3af;
  height: 90%;
  width: 100%;
  background-color: #f8f8f8;
  font-size: 1.2rem;
  padding: 0 1rem;
  border: none;
}

.dark .search-form input {
  background-color: #484a53;
}

.search-form button {
  background: transparent;
  color: #7b828e;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.contact:hover {
  color: #ef5a35;
}

.contact-info {
  font-size: 0.85rem;
}

.phone-number {
  color: #ef5a35;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}



.bottom-row {
  background-color: #217945;
  width: 90%;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.fix {
  display: flex;
  gap: 8rem;
  align-items: center;
  height: 100%;
}

.kategorije {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  gap: 0.3rem;
}

.kategorije span {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.nav-links {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-link {
  height: 100%;
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  padding: 0;
  margin: 0;
  line-height: 1;
  position: relative;
}

.nav-link:hover {
  color: #a7f3d0;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -10px;
  height: 6px;
  width: calc(100% + 20px);
  background-color: #d1d5db;
  display: block;
}

.dark .nav-link.active::after {
  background-color: #4b5563;
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.icons button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  transition: color 0.2s ease;
}

.icons button:hover {
  color: #a7f3d0;
}

.icon-with-badge {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ef5a35;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 999px;
  line-height: 1;
  min-width: 18px;
  text-align: center;
}

.kategorije.active {
  background-color: white;
  color: grey;

}
